<section id="contact-form" class="py-3">
        <div class="container">
            <h1 class="l-heading"><span class='text-primary'>About</span> Us</h1>
            <p>Please update your comment</p>
            <form action="/comments/<%=@comment.id%>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
                <fieldset class="form-group">
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment" ><%= @comment.comment%></textarea>
                </fieldset>
                <!--Flash message
                <% if flash.has?(:message) %>
                    <p class="flash"><%= flash[:message] %></p>
                <% end %>
                -->
                <button type="submit" class="btn">Edit</button>
            </form>
        </div>
    </section>