<section>
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <h2><span class="text-primary">Welcome</span> to your account</h2>
                <p class='lead'> <%=@client.first_name%> <%=@client.last_name%></p>
            </div>
        </div>
    </div>
</section>