

<% if flash.has?(:message) %>
    <p class="flash"><%= flash[:message] %></p>
 <% end %>

<section>
    <div id="container2">
        <div class="form-wrap">
            <h1>Please Sign Up</h1>
            <p>It's free and only takes a minute</p>
            <form action="/clients/signup" method="POST">
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first_name" id="first-name" required />
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last_name" id="last-name" required />
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>
                <button type="submit">Sign Up</button>
                <div class="form-condition">
                    <p class="bottom-text">
                        By clicking the Sign Up button, you agree to our
                        <a href="#">Terms & Conditions</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </form>
        </div>
        <div class='sm-footer'>
            <p>Already have an account? <a href="/clients/login">Login Here</a></p>
        </div>
    </div>
    </body>
</section>
