<div id="showcase">
            <div class="container">
                <div class="showcase-content">
                    <h1> <span class="text-primary">Enjoy</span> your Stay</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, reiciendis in nulla
                        nihil dolorum
                        officiis quibusdam labore nostrum rerum consectetur debitis harum autem, quis quam error quod
                        laborum odio illum.</p>
                <a class="btn" href="#">About our hotel</a>
        </div>
    </div>
</div>

<section id="home-info" class="bg-dark">
        <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur reiciendis dolores quibusdam ad
                delectus quisquam sapiente dolorum quia ex rerum dignissimos, dicta, blanditiis hic placeat veniam omnis
                tempora ipsa! Accusantium.</p>
            <a href="/comments/about" class="btn btn-light">Read More</a>
        </div>
</section>


    <section id="features">
        <div class="box bg-light">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Great Location</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, voluptatibus.</p>
        </div>
        <div class="box bg-primary">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>Free Meals</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, voluptatibus.</p>
        </div>
        <div class="box bg-light">
            <i class="fas fa-dumbbell fa-3x"></i>
            <h3>fitness room</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, voluptatibus.</p>
        </div>
    </section>
<!--
<div class="clr"></div>
<footer id="main-footer">
      <p>Hotel HT &copy; 2019, ALL RIGHTS RESERVED </p>

    </footer>
-->