<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Welcome to a great hotel in port-au-prince Haiti">
  <meta name="keyword" content="hotel,petionville,port-au-prince,haiti">
  <title>Hotel HT | Welcome</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
    integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<% if logged_in? %>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="/">HT</a></h1>
        <ul>
        <!-- class="current"-->
          <li><a href="/">Home</a></li>
          <li><a href="/comments/about">About</a></li>
          <li><a href="/clients/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
<% else %>
         <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="/">HT</a></h1>
        <ul>
        <!-- class="current"-->
          <li><a href="/">Home</a></li>
          <li><a href="/comments/about">About</a></li>
          <li><a href="/clients/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </header> 
<% end %>
    <!--The content Area-->
    <%=yield%>

    

<!--
-->

<% if logged_in? %>
  <div class="clr hidden"></div>
<footer class="hidden">
      <p class="hidden main-footer"> </p>
</footer>
<% else %>

<div class="clr"></div>
<footer id="main-footer">
      <p>Hotel HT &copy; 2019, ALL RIGHTS RESERVED </p>
</footer>

<% end %> 
</body>

</html>